
.input {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 5px; 
	margin-bottom: 10px;
	margin-right: 5px;
    width: 300px;
	background-color: azure;
}

.input input {
    border: 1px solid #f0f0f0; 
	text-align: left;
	border-radius: 10px;
    padding: 12px; 
    width: 100%; 
	background-color: #f0f0f0;
}
