.form {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: auto;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  box-shadow: #f0f0f0;
}
.p-tag{
	color: gray;
	margin-bottom: 25px;
}
.submit-button{
	background-color:rgb(0, 115, 255);
	color: white;
	border: #f0f0f0;
	border-radius:10px;
	width: 300px;
	padding: 8px;
	margin-top: 8px;
	font-size: medium;
}
.img-container{
	height: 200px;
	width: 300px;
	border: none;
	background-color: #f0f0f0;
	border-radius: 25px;
	margin-top: 12px;
	text-align: center;
}
.img-parent{
	display: grid;
	margin-top: 12px;
	margin-bottom: 6px;
}
.status-container {
	display: flex;
	font-size: larger;
	/* align-items: center;  */
	justify-content: space-between;
	margin-bottom: 10px;
	margin-top: 20px;
  }
  
  .status-container input {
	margin-right: 20px; 
  }
  .toggle-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
  }
  
  .toggle-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	transform: translateX(26px);
  }
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  
  .toggle-label {
	font-weight: bold;
  }